.orangebox{
    background-color: orange;
    width: 100%;
    min-height: 100px;
    display: inline-block;
    color: aliceblue;
    text-align: center;
    padding: 50px;
    border: 10px dotted blue;
    margin: 2px;
    font-size: 70px;
    font-family: 'Bebas Neue', sans-serif;
}

.paraDecor{
    background-color: lightblue;
    color: aliceblue;
    font: bold;
    width: 50%;
    height: 50px;
    padding: 50px;
    margin: 10px;
    margin-left: 100px;
    margin-top: 20px;
    border: 1px solid lightcoral;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
}
.natalie{
    background-color: blueviolet;
    width: 100%;
    min-height: 100px;
    display: inline-block;
    color: aliceblue;
    text-align: center;
    padding: 50px;
    border: 10px dotted blue;
    margin: 2px;
    font-size: 70px;
    font-family: 'Bebas Neue', sans-serif;
}
.naur{
    background-color: lightpink;
    color: aliceblue;
    font: bold;
    width: 50%;
    height: 50px;
    padding: 50px;
    margin: 10px;
    margin-left: 100px;
    margin-top: 20px;
    border: 1px solid lightcoral;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}